In [13]:
import pandas as pd

list_data = ['2019-01-02', 3.14, 'ABC', 100, True] # 리스트

sr = pd.Series(list_data, index = ['a', 'b',  'c',  'd',  'e'])

sr

a    2019-01-02
b          3.14
c           ABC
d           100
e          True
dtype: object

In [14]:
df = pd.DataFrame([[15, '남', '덕영중'], [15, '여', '수리중'], [16, '남', '반송중']],
                 index = ['준서', '예은', '영재'],
                 columns = ['나이', '성별', '학교'])

df

    나이 성별   학교
준서  15  남  덕영중
예은  15  여  수리중
영재  16  남  반송중

In [2]:
import pandas as pd

exam_data = {'수학': [90, 80, 70], '영어': [98, 89, 95], '음악': [85, 95, 100], '체육': [100, 90, 90]}

df = pd.DataFrame(exam_data, index = ['서준', '우현', '인아'])

print(df)

df2 = df

df2 = df2.drop('우현')
print()

print(df2)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

- 인덱스를 속성 이름으로 접근할 때 .loc=['열 이름'] 사용
- 인덱스를 번호로 접근할 때 .iloc[인덱스 번호] i가 integer의 i

In [7]:
label1 = df.loc['서준']
position1 = df.iloc[0]

print(label1)
print(position1)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [5]:
c = df.loc['서준', ['음악', '체육']]
print(c)

print(df.iloc[0, [2, 3]])

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [8]:
import pandas as pd
import numpy as np

student1 = pd.Series({'국어': np.nan, '영어': 80, '수학': 90})
student2 = pd.Series({'수학': 80, '국어': 90})

print(student1)
print('\n')
print(student2)
print('\n')

addition = student1 + student2
subtraction = student1 - student2
multiplication = student1 * student2
division = student1 / student2

result = pd.DataFrame([addition, subtraction, multiplication, division],
                     index=['덧셈', '뺄셈', '곱셈', '나눗셈'])
print(result)

국어     NaN
영어    80.0
수학    90.0
dtype: float64


수학    80
국어    90
dtype: int64


     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN